albumentations
azure-storage-blob
einops
fiona
lightning
matplotlib
numpy
pandas
planetary-computer
pystac-client
rasterio
rioxarray
shapely
stackstac
sympy
timm
torch==2.6.0+cu124
torchgeo
torchvision==0.21.0+cu124
tqdm
